<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        <p> Check back later</p>
        {{> footer}}
    </body>
</html>